In [1]:
from bokeh.plotting import figure
from bokeh.io import output_file, show

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('auto-mpg.csv')

In [4]:
df.head()

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,color,size
0,18.0,6,250.0,88,3139,14.5,71,US,ford mustang,blue,15.0
1,9.0,8,304.0,193,4732,18.5,70,US,hi 1200d,blue,20.0
2,36.1,4,91.0,60,1800,16.4,78,Asia,honda civic cvcc,red,10.0
3,18.5,6,250.0,98,3525,19.0,77,US,ford granada,blue,15.0
4,34.3,4,97.0,78,2188,15.8,80,Europe,audi 4000,green,10.0

In [5]:
p = figure(x_axis_label='HP', y_axis_label='MPG')

In [6]:
df.mpg.shape

(392,)

In [7]:
df.hp.shape

(392,)

In [ ]:
#first we create an empty figure then fill it in.